html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', 'sans-serif' !important;
  background: #1a1a1d; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes popover-move-left {
  from {
    right: 0px; }
  to {
    right: 26px; } }
.header_text {
  transition: all 0.5s ease-out;
  font-family: "Cinzel", serif;
  font-size: 30px;
  font-weight: 100;
  display: "inline";
  position: relative;
  left: 75px;
  bottom: 43px;
  letter-spacing: 0.3px; }

.header_second {
  transition: all 0.5s ease-out;
  font-family: "Cinzel", serif;
  font-size: 15px;
  font-weight: 100;
  display: "inline";
  position: relative;
  left: 338px;
  bottom: 67px; }

.header_logo {
  max-height: 70px; }

.img_cover {
  background-size: cover !important; }

.link_logo {
  display: inline-block; }

.home_register_btn {
  margin-right: 20px; }
  .home_register_btn button {
    transition: all 0.5s ease-out;
    background-color: #b31314;
    font-family: "Cinzel", "serif";
    padding: 10px;
    color: #fff;
    width: 120px; }
    .home_register_btn button:hover {
      background-color: #9c1111; }

.nav a button {
  transition: all 0.2s ease-out;
  color: rgba(255, 255, 255, 0.8) !important; }
  .nav a button:hover {
    color: white !important; }

.nav .login_btn {
  transition: all 0.5s ease-out;
  font-family: "Cinzel", "serif";
  border-color: #b31314;
  width: 100px; }
  .nav .login_btn:hover {
    background-color: #9c1111; }

.user_menu .popover {
  position: absolute;
  height: 300px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  padding: 10px 7px;
  display: none;
  margin-top: 15px;
  border: 0.5px solid #4e4e50;
  animation: fade-in 0.3s linear 1, popover-move-left 0.3s linear 1;
  border-radius: 5px;
  right: 26px;
  z-index: 100; }
  .user_menu .popover:after {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 10px solid rgba(78, 78, 80, 0.85);
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(180deg);
    position: absolute;
    top: -9.6%;
    left: 79%; }
  .user_menu .popover .menu {
    margin-left: 5px; }
    .user_menu .popover .menu .cart_link {
      position: absolute;
      overflow: hidden;
      margin-top: 6px;
      left: 99px;
      height: 25px;
      width: 25px;
      background: #b31314;
      border-radius: 50%; }
      .user_menu .popover .menu .cart_link span {
        position: absolute;
        bottom: -3px;
        margin-left: 7px;
        font-size: 18px; }
.user_menu:hover .popover {
  display: block; }

.featured_wrapper {
  margin: 0 auto;
  width: 1280px;
  height: 100vh;
  overflow: hidden; }

.featured_stripes {
  position: relative; }

.featured_text {
  position: relative;
  font-family: "Cinzel", cursive; }

.featured_stripes .stripe {
  width: 230px;
  height: 1200px;
  position: absolute; }

.featured_number {
  font-size: 270px;
  color: #ffffff;
  transform: translate(260px, 170px);
  position: absolute; }

.featured_kit {
  width: 500px;
  height: 500px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute; }

.featured_button {
  position: absolute;
  padding: 0px 20px; }

.featured_first {
  position: absolute;
  background: #1a1a1d;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px; }

.featured_second {
  position: absolute;
  background: #1a1a1d;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px; }

.landing_btn {
  transition: all 0.5s ease-out; }
  .landing_btn:hover {
    background-color: #070e12 !important; }

.homeSignup {
  margin: 10px auto; }
  .homeSignup .signupPromo_img {
    height: 450px;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    box-sizing: border-box;
    padding: 80px; }
  .homeSignup .signup_promo {
    background: rgba(26, 26, 29, 0.8);
    text-align: center;
    font-family: 'Cinzel', 'serif';
    color: #ffffff;
    padding: 0px 20px;
    text-transform: uppercase;
    display: table; }
  .homeSignup .title {
    font-size: 70px;
    font-weight: 700;
    margin: 10px auto; }
  .homeSignup .low_title {
    font-size: 50px;
    font-weight: 300;
    margin-top: 10px;
    margin: 0 auto; }
  .homeSignup .signup_promo_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    width: 100%; }
    .homeSignup .signup_promo_btn button {
      transition: all 0.5s ease-out;
      width: 600px;
      padding: 10px 0;
      color: #fff;
      font-family: 'Cinzel', 'serif';
      font-size: 30px;
      background-color: #b31314; }
      .homeSignup .signup_promo_btn button:hover {
        background-color: #9c1111; }

.sample_modal_title {
  transition: all 0.5s ease-out;
  border: 5px dotted rgba(202, 55, 38, 0.8);
  background-color: rgba(202, 55, 38, 0.2);
  text-align: center;
  text-shadow: 2px 1px #0e1d24;
  font-size: 40px;
  text-transform: uppercase; }
  .sample_modal_title:hover {
    border: 5px dotted #ca3726; }

.send_sample_form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 10px;
  margin-top: 20px;
  margin-left: 38px;
  margin-bottom: 5px;
  height: 100px;
  width: 500px; }
  .send_sample_form_wrapper input {
    font-size: 1.5rem;
    color: #ca3726;
    font-weight: 600;
    width: 550px;
    padding: 15px; }
    .send_sample_form_wrapper input:focus {
      box-shadow: 0 0 0 2pt #ca3726;
      font-weight: 700; }

.sample_btn {
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center; }
  .sample_btn button {
    border: 1px solid;
    border-color: #b31314;
    padding: 15px;
    color: #fff;
    width: 90%; }
    .sample_btn button:hover {
      background-color: #b31314; }

.sample_headline {
  display: flex;
  justify-content: center; }
  .sample_headline a {
    font-size: 42px;
    color: #b31314;
    text-transform: uppercase; }

.login_header {
  text-align: center;
  padding-bottom: 0px !important;
  font-size: 40px; }

hr {
  width: 80%;
  border-color: #4e4e50; }

.login_label {
  margin-left: 120px;
  margin-top: 10px;
  color: #4e4e50;
  font-weight: 900; }

input {
  transition: all 0.2s ease-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 0 2pt #4e4e50;
  border: none;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 30px;
  width: 70%; }

input:focus {
  box-shadow: 0 0 0 1.5pt #ca3726;
  outline: none; }

.form_field_block {
  display: flex;
  justify-content: center;
  margin: 0 10px; }

form hr {
  margin-top: 50px;
  width: 70%; }

.error_label {
  position: absolute;
  margin-top: 40px;
  color: #b31314; }

.error_label_bottom {
  display: flex;
  justify-content: center; }
  .error_label_bottom p {
    color: #b31314;
    font-size: 1.6rem;
    font-family: "Cinzel", cursive; }

form .bottom_login_container {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  form .bottom_login_container .login_user_btn {
    width: 60%;
    background-color: #ca3726;
    color: #fff;
    border-radius: 30px;
    text-transform: capitalize; }
    form .bottom_login_container .login_user_btn:hover {
      background-color: #d73b29; }

form p {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  form p span {
    margin: 0px 7px;
    color: #c63625;
    cursor: pointer; }

.closeIcon {
  transition: all 0.2s ease-out;
  position: absolute;
  right: 9px;
  top: 5px;
  cursor: pointer;
  font-size: 1.8rem;
  color: #4e4e50; }
  .closeIcon:hover {
    color: #b31314; }

.form_container {
  display: flex;
  margin-top: 130px;
  justify-content: center;
  align-items: center; }

.form_card {
  height: 700px;
  width: 550px;
  background-color: rgba(78, 78, 80, 0.3);
  border: 2px solid #4e4e50;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  z-index: 999; }
  .form_card h2 {
    color: #fff;
    font-weight: 300;
    margin: 20px; }
  .form_card .form_group {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    width: 100%; }
    .form_card .form_group .register_inputs {
      width: 450px; }
    .form_card .form_group .register_label {
      position: absolute;
      margin-top: -25px;
      margin-left: -170px;
      color: #747477; }

form .bottom_register_container {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  form .bottom_register_container .register_user_btn {
    width: 80%;
    color: #fff;
    border-color: #ca3726;
    border-radius: 30px;
    text-transform: capitalize; }
    form .bottom_register_container .register_user_btn:hover {
      background-color: #d73b29; }

.error_label_register {
  position: absolute;
  color: #b31314; }

.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 900px; }
  .user_container .user_left_nav {
    font-family: "Cinzel", serif;
    position: absolute;
    height: 1000px;
    width: 440px;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #4e4e50;
    border-right: 1px solid #ca3726;
    margin-top: 70px;
    padding-top: 20px;
    overflow: hidden; }
    .user_container .user_left_nav h2 {
      font-family: "Mukta", serif;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700; }
    .user_container .user_left_nav a {
      display: block;
      text-align: center;
      font-size: 25px;
      font-weight: 300;
      color: #fff;
      padding: 5px 10px 5px 7px;
      padding: 10px 0; }
    .user_container .user_left_nav hr {
      border-color: #dc5647; }
  .user_container .user_right {
    flex-grow: 1;
    padding: 0 0 0 29px; }

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; }

.user_info_panel {
  height: 300px;
  width: 650px;
  margin: 10px 0px;
  background-color: rgba(78, 78, 80, 0.4);
  border: 1px solid #ca3726;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  color: #fff;
  z-index: 1; }
  .user_info_panel h1 {
    text-align: center;
    text-transform: uppercase; }
  .user_info_panel span {
    display: block;
    margin-left: 20px; }
  .user_info_panel .user_info_textContent {
    font-family: "Cinzel", "serif";
    color: #f3b169; }
  .user_info_panel .user_info_btn {
    transition: all 0.2s ease-out;
    margin: 15px;
    width: 95%;
    background-color: #4e4e50;
    color: #fff;
    font-weight: 300;
    align-self: center; }
    .user_info_panel .user_info_btn:hover {
      background-color: #0e1d24;
      font-weight: 300;
      color: #fff; }

.user_product_block_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;
  border: 1px solid #f3b169; }

.beatstore_container {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .beatstore_container iframe {
    box-shadow: 0 8px 10px 1px rgba(26, 26, 29, 0.14), 0 3px 14px 2px rgba(26, 26, 29, 0.12), 0 5px 5px -3px rgba(26, 26, 29, 0.5);
    z-index: 999; }

.card_block_featured {
  margin: 20px;
  height: 650px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(78, 78, 80, 0.16), 0 3px 6px rgba(78, 78, 80, 0.23); }
  .card_block_featured .container {
    margin: 10px; }
  .card_block_featured .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem; }

.card_item_wrapper {
  text-align: center; }
  .card_item_wrapper .image {
    transition: all 0.5s ease-out;
    height: 350px;
    width: 350px;
    background-position: 60% !important;
    border-radius: 10px;
    position: relative;
    z-index: 9 !important;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #ca3726, inset 0 0 0 2px #f3b169, inset 0 0 0 3px #0e1d24, -5px 4px 9px -1px rgba(179, 19, 20, 0.86); }
    .card_item_wrapper .image:hover {
      opacity: 0.8;
      box-shadow: inset 0 0 0 0px #ca3726, inset 0 0 0 0px #f3b169, 0 0px 0px #4e4e50; }
      .card_item_wrapper .image:hover .card_playBtn {
        display: block; }
      .card_item_wrapper .image:hover .card_pauseBtn {
        display: block; }
  .card_item_wrapper .card_playBtn {
    transition: all 0.5s ease-out;
    position: absolute;
    z-index: 999 !important;
    cursor: pointer;
    display: none;
    font-size: 11.2rem;
    margin-left: 100px;
    margin-top: 50px; }
    .card_item_wrapper .card_playBtn:hover {
      transform: scale(1.1); }
  .card_item_wrapper .card_pauseBtn {
    transition: all 0.5s ease-out;
    position: absolute;
    z-index: 999 !important;
    cursor: pointer;
    display: none;
    font-size: 11.2rem;
    margin-left: 100px;
    margin-top: 50px; }
    .card_item_wrapper .card_pauseBtn:hover {
      transform: scale(1.1); }
  .card_item_wrapper .action_container .tags .name {
    font-weight: 300;
    color: #f3b169; }
  .card_item_wrapper .action_container .tags .genre {
    font-weight: 700;
    font-family: 'Cinzel', 'serif'; }
  .card_item_wrapper .action_container .tags hr {
    border-color: #4e4e50;
    margin: 0 30px; }
  .card_item_wrapper .add_to_cart_btn {
    transition: all 0.5s ease-out;
    margin-top: 5px;
    border: 1px solid #b31314;
    width: 80%; }
    .card_item_wrapper .add_to_cart_btn:hover {
      background-color: rgba(179, 19, 20, 0.3); }
    .card_item_wrapper .add_to_cart_btn .cart_icon {
      color: #fff; }
  .card_item_wrapper .add_to_cart_btn_unauth {
    margin-top: 5px;
    border: 1px solid #4e4e50;
    color: #4e4e50 !important; }
    .card_item_wrapper .add_to_cart_btn_unauth .cart_icon {
      color: #4e4e50; }

.the_player {
  transition: all 0.5s ease-out;
  z-index: 10000 !important;
  color: #fff;
  display: flex;
  height: 80px;
  border-top: 1px solid #ca3726;
  background-color: rgba(0, 0, 0, 0.92);
  box-shadow: 5px -2px 23px -1px rgba(202, 55, 38, 0.45);
  padding: 7px 0px;
  overflow: hidden;
  width: 100%; }
  .the_player .controls {
    padding: 15px;
    align-self: center;
    margin-left: 25px; }
    .the_player .controls .rewind {
      padding: 5px;
      font-size: 2.7rem;
      cursor: pointer; }
      .the_player .controls .rewind:hover {
        color: #ca3726; }
    .the_player .controls .play {
      transition: all 0.2s ease-out;
      font-size: 4.4rem;
      padding: 5px 10px;
      cursor: pointer; }
      .the_player .controls .play:hover {
        color: #ca3726; }
    .the_player .controls .pause {
      transition: all 0.2s ease-out;
      font-size: 4.4rem;
      padding: 5px 10px;
      cursor: pointer; }
      .the_player .controls .pause:hover {
        color: #ca3726; }
    .the_player .controls .forward {
      padding: 5px;
      font-size: 2.7rem;
      cursor: pointer; }
      .the_player .controls .forward:hover {
        color: #ca3726; }
  .the_player .close_icon {
    transition: all 0.5s ease-out;
    margin-left: auto;
    align-self: center;
    margin-right: 25px;
    margin-bottom: 30px;
    color: #4e4e50;
    font-family: 'Cinzel', 'serif';
    font-size: 1.9rem;
    cursor: pointer; }
    .the_player .close_icon:hover {
      color: #b31314; }
  .the_player .playerDisplay {
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 35px;
    width: 1300px;
    height: 100%; }
    .the_player .playerDisplay .progress_bar {
      position: relative;
      cursor: pointer;
      height: 10px;
      width: 850px;
      margin: 10px;
      border: 1px solid #333;
      background-color: #333;
      border-radius: 50px;
      margin-bottom: 17px; }
      .the_player .playerDisplay .progress_bar:hover .sliderThumb {
        opacity: 1;
        width: 25px;
        height: 250%; }
    .the_player .playerDisplay .filler {
      background: #b31314;
      height: 100%;
      border-radius: inherit;
      transition: width 0.1s ease-in; }
    .the_player .playerDisplay .sliderThumb {
      transition: left 0.1s ease-in, opacity 0.2s ease-out, height 0.2s ease-out, width 0.2s ease-out;
      background: #850e0f;
      position: absolute;
      opacity: 0;
      bottom: -5px;
      height: 0%;
      width: 0px;
      border-radius: 100%; }
    .the_player .playerDisplay .trackName {
      position: absolute;
      top: 0;
      margin-top: 14px; }
    .the_player .playerDisplay .currentTime {
      margin-bottom: 10px;
      padding: 4px 3px; }
    .the_player .playerDisplay .duration {
      margin-bottom: 10px;
      padding: 4px 3px; }

.shop_wrapper {
  display: flex;
  color: #fff; }

.shop_wrapper .left {
  flex-grow: 1;
  position: absolute;
  left: 70px; }

.collapse_items_wrapper {
  width: 400px; }
  .collapse_items_wrapper .collapse_list {
    border-bottom: 2px solid #4e4e50; }
  .collapse_items_wrapper .collapse_title {
    font-size: 2.3rem; }

.shop_wrapper .right {
  position: absolute;
  left: 500px; }

footer {
  position: relative;
  width: 100% !important;
  z-index: 999; }

footer .container {
  display: flex;
  flex-direction: column; }

footer .logo {
  align-self: center;
  max-width: 50%; }

footer .connect_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%; }

footer .connect_header {
  transition: all 0.5s ease-out;
  position: absolute;
  top: 17px;
  left: 365px; }

footer .connect_facebook_icon a {
  position: absolute;
  color: #fff;
  top: 80px;
  left: 300px;
  font-size: 40px;
  transition: all 0.5s ease-out; }
  footer .connect_facebook_icon a:hover {
    color: #334f8d; }

footer .connect_soundcloud_icon a {
  position: absolute;
  color: #fff;
  top: 73px;
  left: 370px;
  font-size: 50px;
  transition: all 0.5s ease-out; }
  footer .connect_soundcloud_icon a:hover {
    color: #ff5805; }

footer .connect_twitter_icon a {
  transition: all 0.5s ease-out;
  position: absolute;
  color: #fff;
  top: 78px;
  left: 470px;
  font-size: 45px; }
  footer .connect_twitter_icon a:hover {
    color: #1a97f0; }

footer .contact_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%; }

footer .contact_btn {
  transition: all 0.5s ease-out;
  position: absolute;
  border-color: #b31314;
  font-family: 'Cinzel', 'serif';
  color: #fff;
  width: 450px;
  top: 82px;
  left: 1190px; }
  footer .contact_btn:hover {
    background-color: #ca1517 !important; }

footer .copyright_wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 150px; }

footer .copyright {
  transition: all 0.5s ease-out;
  position: absolute;
  font-weight: 300;
  top: 140px;
  left: 290px; }
  footer .copyright a {
    color: #b31314;
    text-transform: uppercase;
    font-family: "Cinzel", "serif"; }

.bck_dark {
  background: #1a1a1d; }

.bck_ultra_dark {
  background: #000;
  color: #fff; }

a {
  color: inherit;
  text-decoration: none; }

.container {
  width: 100%;
  margin: 0; }

.main_loader {
  text-align: center;
  margin-top: 100px; }

.page_top {
  display: flex;
  align-items: flex-end;
  height: 60px;
  background-color: #0e1d24;
  border-bottom: 1px solid #4e4e50;
  margin-top: 50px;
  padding: 20px; }
  .page_top .container {
    position: absolute;
    font-size: 1.7rem;
    color: #fff;
    top: 100px;
    left: 70px; }

@media screen and (min-width: 1771px) {
  footer .contact_btn {
    left: 1250px; } }
@media screen and (min-width: 1270px) and (max-width: 1670px) {
  .header_second {
    left: 238px; }

  footer .contact_btn {
    left: 1000px; }

  .the_player .playerDisplay {
    width: 1000px; } }
@media screen and (min-width: 1171px) and (max-width: 1470px) {
  .header_second {
    left: 138px; }

  footer .contact_btn {
    left: 830px; }

  .the_player .playerDisplay {
    width: 800px; } }
@media screen and (min-width: 769px) and (max-width: 1287px) {
  .header_second {
    top: -30px; }

  footer .contact_btn {
    width: 250px;
    left: 730px; }

  footer .connect_header {
    left: 170px; }

  footer .connect_facebook_icon a {
    left: 150px; }

  footer .connect_soundcloud_icon a {
    left: 220px; }

  footer .connect_twitter_icon a {
    left: 320px; }

  .the_player .playerDisplay {
    width: 600px; } }
@media screen and (max-width: 1040px) {
  footer .contact_btn {
    width: 250px;
    left: 830px; }

  footer .connect_header {
    left: 100px; }

  footer .connect_facebook_icon a {
    left: 80px; }

  footer .connect_soundcloud_icon a {
    left: 150px; }

  footer .connect_twitter_icon a {
    left: 250px; }

  footer .logo {
    width: 0px; }

  .the_player .playerDisplay {
    width: 400px; } }
@media screen and (max-width: 1040px) {
  .homeSignup {
    display: none; }

  footer .contact_btn {
    width: 150px;
    left: 580px; }

  footer .connect_header {
    left: 100px;
    display: none; }

  footer .connect_facebook_icon a {
    left: 80px;
    font-size: 30px; }

  footer .connect_soundcloud_icon a {
    left: 150px;
    font-size: 40px; }

  footer .connect_twitter_icon a {
    left: 250px;
    font-size: 35px; }

  .the_player .playerDisplay {
    display: none; } }
@media screen and (max-width: 736px) {
  footer .contact_btn {
    top: 150px;
    width: 150px;
    left: 220px; }

  footer .connect_header {
    left: 100px;
    display: none; }

  footer .connect_facebook_icon a {
    top: 160px;
    left: 20px;
    font-size: 20px; }

  footer .connect_soundcloud_icon a {
    top: 153px;
    left: 70px;
    font-size: 30px; }

  footer .connect_twitter_icon a {
    top: 158px;
    left: 150px;
    font-size: 25px; }

  footer .copyright {
    top: 0px;
    left: 10px; } }

/*# sourceMappingURL=index.css.map */
