.beatstore_container {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  iframe {
    box-shadow: 0 8px 10px 1px rgba($primary-dark, 0.14),
    0 3px 14px 2px rgba($primary-dark, 0.12), 0 5px 5px -3px rgba($primary-dark, 0.5);
    z-index: 999;
  }
}
