.card_block_featured {
  margin: 20px;
  height: 650px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba($secondary-dark, 0.16),
    0 3px 6px rgba($secondary-dark, 0.23);
  .container {
    margin: 10px;
  }
  .title {
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
  }
} 

.card_item_wrapper {
  text-align: center;
 .image {
   height: 350px;
   width: 250px;
   background-position: center !important;
   border: 1px solid $sparta-orange;
 }
}
