// SHOP CARDS

.card_block_shop {
  width: 100%;
  padding: 0px 25px 25px 25px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba($secondary-dark, 0.16),
    0 3px 6px rgba($secondary-dark, 0.23);
  .container {
    margin: 10px;
    .cards_wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      .card_item_wrapper {
        margin: 15px;
        #shopImage {
          box-shadow: inset 0 0 0 0px $sparta-orange,
            inset 0 0 0 0px $sparta-yellow, 0 0px 0px $secondary-dark;
        }
      }
    }
    .title {
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
    }
    .no_results_card {
      display: flex;
      align-items: center;
      font-family: "Cinzel", "serif";
      border: 1px solid $sparta-yellow;
      padding: 15px;
      height: 400px;
      width: 100%;
      background-color: $sparta-orange;
    }
  }
}

// HOME CARDS

.card_block_featured {
  display: grid;
  margin: 20px;
  grid-auto-rows: minmax(650px, auto);
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba($secondary-dark, 0.16),
    0 3px 6px rgba($secondary-dark, 0.23);
  .container {
    margin: 10px;
  }
  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
  }
}

// Card Item

.card_item_wrapper {
  text-align: center;

  .image {
    @include easeOut;
    height: 350px;
    width: 350px;
    background-position: 60% 50% !important;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    z-index: 9 !important;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px $sparta-orange, inset 0 0 0 2px $sparta-yellow,
      inset 0 0 0 3px $sparta-blue, -5px 4px 9px -1px rgba($sparta-red, 0.86);
    &:hover {
      .card_playBtn {
        display: block;
      }
      .card_pauseBtn {
        display: block;
      }
      opacity: 0.8;
      box-shadow: inset 0 0 0 0px $sparta-orange, inset 0 0 0 0px $sparta-yellow,
        0 0px 0px $secondary-dark;
    }
  }
  .card_playBtn {
    @include easeOut;
    position: absolute;
    z-index: 999 !important;
    cursor: pointer;
    display: none;
    font-size: 11.2rem;
    margin-left: 100px;
    margin-top: 50px;
    &:hover {
      transform: scale(1.1);
    }
  }
  .card_pauseBtn {
    @include easeOut;
    position: absolute;
    z-index: 999 !important;
    cursor: pointer;
    display: none;
    font-size: 11.2rem;
    margin-left: 100px;
    margin-top: 50px;
    &:hover {
      transform: scale(1.1);
    }
  }
  .action_container {
    .tags {
      .name {
        font-weight: 300;
        color: $sparta-yellow;
      }
      .genre {
        font-weight: 700;
        font-family: "Cinzel", "serif";
      }
      hr {
        border-color: $secondary-dark;
        margin: 0 30px;
      }
    }
  }
}
