.cart_modal_container {
  .modal_header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 7px;
    p {
      svg {
        position: absolute;
        color: $success-green;
        margin: 0;
      }
      span {
        margin-left: 25px;
        text-transform: uppercase;
        color: #fff;
      }
      margin: 0;
    }
    .link_container {
      a {
        color: $sparta-yellow;
        text-decoration: underline;
        cursor: pointer;
        padding: 7px;
      }
    }
  }
  .cart_block_container {
    width: 100%;
    display: flex;
    justify-content: center;
    .cart_product_block {
      @include easeOut;
      height: 100px;
      width: 80%;
      padding: 10px;
      margin: 10px 0;
      border-bottom: 1px solid $secondary-dark;
      &:hover {
        background-color: $sparta-blue;
      }
      .cart_item {
        display: flex;
        .cart_image {
          height: 120px;
          width: 130px;
        }
        .name {
          align-self: center;
          font-family: "Cinzel", "serif";
          font-size: 1.1rem;
        }
        .end_container {
          display: flex;
          align-self: center;
          padding: 10px;
          margin-left: auto;
          .price {
            margin-right: 25px;
            font-family: "Cinzel", "serif";
            align-self: flex-end;
            color: $sparta-yellow;
            font-size: 1.4rem;
          }

          color: $secondary-dark;
          svg {
            @include easeOut;
            cursor: pointer;
            font-size: 2.2rem;
            &:hover {
              color: $sparta-red;
            }
          }
        }
      }
    }
  }
  .checkout_btn_container {
    display: flex;
    justify-content: center;
  }
}

.cart_container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 930px;
  width: 99%;
  .cart_main_card {
    width: 75%;
    height: 820px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid $secondary-dark;
    z-index: 5;
    background-color: rgba(#000, 0.4);
    .checkout_steps {
      display: flex;
      justify-content: space-evenly;
      color: #fff;
      h1 {
        display: flex;
        padding: 15px;
        width: 290px;
        text-align: center;

        span {
          @include easeOut;
          display: inline;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: $secondary-dark;
        }
        .one {
          margin-left: 26px;
        }
        .two {
          margin-left: 42px;
        }
      }
    }
    .hr_container {
      display: flex;
      justify-content: center;
      .checkout_hr {
        height: 10px;
        width: 90%;
        border-bottom: 1px solid $secondary-dark;
        border-radius: 15px;
        .hr_highlight {
          position: absolute;
          @include easeOut;
          height: 11px;
          width: 20%;
          background: $sparta-orange;
          border-radius: 15px;
          transform: translateX(0);
        }
      }
    }

    .cart_header {
      display: flex;
      justify-content: center;
      color: #fff;
      margin: 0;
      font-family: "Cinzel", "serif";
      h1 {
        font-weight: 200;
      }
    }

    .user_cart {
      color: #fff;
      display: flex;
      justify-content: center;
      padding: 15px;
      margin: 10px;
      background-color: $primary-dark;

      height: 400px;
      overflow-y: auto;
      border-radius: 15px;
      .frown_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
          margin-top: 50px;
        }
        svg {
          font-size: 100px;
        }
      }
      .cart_block_container {
        width: 100%;
        .cart_product_block {
          @include easeOut;
          height: 100px;
          width: 100%;
          padding: 10px;
          margin: 10px 0;
          border-bottom: 1px solid $secondary-dark;
          &:hover {
            background-color: $sparta-blue;
          }
          .cart_item {
            display: flex;
            .cart_image {
              height: 120px;
              width: 130px;
            }
            .name {
              align-self: center;
              font-family: "Cinzel", "serif";
              font-size: 1.7rem;
            }
            .end_container {
              display: flex;
              align-self: center;
              padding: 10px;
              margin-left: auto;
              .price {
                margin-right: 25px;
                font-family: "Cinzel", "serif";
                align-self: flex-end;
                color: $sparta-yellow;
                font-size: 1.4rem;
              }

              color: $secondary-dark;
              svg {
                @include easeOut;
                cursor: pointer;
                font-size: 2.2rem;
                &:hover {
                  color: $sparta-red;
                }
              }
            }
          }
        }
      }
    }
    .user_payment {
      color: #fff;
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding: 15px;
      margin: 10px;
      background-color: $primary-dark;
      grid-auto-rows: minmax(400px, auto);

      border-radius: 15px;
      .payment_info_container {
        display: grid;
        grid-template-rows: 3fr 1fr;
        justify-content: center;
        .confirm_info {
          h1 {
            font-family: "Cinzel", "serif";
          }
          p {
            font-size: 1.6rem;
            .checkout_confirm_email {
              color: $sparta-yellow;
            }
            .change_email_btn {
              padding: 0 25px;
              text-transform: uppercase;
              border: 1px solid white;
              background-color: $sparta-red;
              margin-left: 10px;
              cursor: pointer;
              &:hover {
                background-color: lighten($sparta-red, 5);
              }
            }
          }
        }
      }
      .payment_options {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 10px 0;
        .paypal_btn_container {
          color: #fff;
        }
      }
      .about_specs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid $secondary-dark;
        padding: 0 15px;
        .spec_container {
          display: grid;
          grid-template-columns: 0.5fr 3.5fr;
          grid-column-gap: 5px;

          .bullet_point {
            svg {
              color: $success-green;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
    .cart_bottom_container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 138px;
      border-radius: 15px;
      background-color: #000;
      margin: 10px;
      color: #fff;
    }
    .payment_bottom_container {
      display: flex;
      .totalText {
        font-size: 3.2rem;
        margin-left: auto;
        margin-right: 50px;
        color: #fff;
      }
    }
  }
}
