@include media3Xlg {
  footer .contact_btn {
    left: 1250px;
  }
}

@include media2Xlg {
  .header_second {
    left: 238px;
  }
  footer .contact_btn {
    left: 1000px;
  }
  .the_player {
    .playerDisplay {
      width: 1000px;
    }
  }
}

@include mediaXlg {
  .header_second {
    left: 138px;
  }
  footer .contact_btn {
    left: 830px;
  }

  .the_player {
    .playerDisplay {
      width: 800px;
    }
  }
}

@include mediaLg {
  .header_second {
    left: 100px;
  }
  footer .contact_btn {
    width: 250px;
    left: 730px;
  }
  footer .connect_header {
    left: 170px;
  }
  footer .connect_facebook_icon a {
    left: 150px;
  }
  footer .connect_soundcloud_icon a {
    left: 220px;
  }
  footer .connect_twitter_icon a {
    left: 320px;
  }

  .the_player {
    .playerDisplay {
      width: 600px;
    }
  }
}

@include mediaMdLg {
  .header_second {
    .subtext {
      display: none;
    }
  }
  footer .contact_btn {
    width: 250px;
    left: 730px;
  }
  footer .connect_header {
    left: 100px;
  }
  footer .connect_facebook_icon a {
    left: 80px;
  }
  footer .connect_soundcloud_icon a {
    left: 150px;
  }
  footer .connect_twitter_icon a {
    left: 250px;
  }
  footer .logo {
    left: 50px;
  }

  .the_player {
    .playerDisplay {
      width: 400px;
    }
  }
}

@include mediaMd {
  .header_second {
    display: none;
  }
  .homeSignup {
    display: none;
  }
  footer .contact_btn {
    width: 200px;
    left: 630px;
  }
  footer .connect_header {
    left: 100px;
    display: none;
  }
  footer .connect_facebook_icon a {
    left: 80px;
    font-size: 30px;
  }
  footer .connect_soundcloud_icon a {
    left: 150px;
    font-size: 40px;
  }
  footer .connect_twitter_icon a {
    left: 250px;
    font-size: 35px;
  }

  .the_player {
    .playerDisplay {
      display: none;
    }
  }

  // Detail Page

  .wave_container {
    display: none;
  }
  .header_container {
    display: grid;
    grid-template-columns: 4fr;
    max-width: 100%;
    justify-content: center;
    .header_pic {
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
      }
    }
  }
  .details_header {
    h1 {
      display: none;
    }
  }
  .details_badges p {
    display: none;
  }
}

@include mediaSm {
  footer .contact_btn {
    top: 80px;
    width: 200px;
    left: 50px;
  }
  footer .connect_header {
    left: 100px;
    display: none;
  }
  footer .connect_facebook_icon a {
    top: 160px;
    left: 20px;
    font-size: 20px;
  }
  footer .connect_soundcloud_icon a {
    top: 153px;
    left: 70px;
    font-size: 30px;
  }
  footer .connect_twitter_icon a {
    top: 158px;
    left: 150px;
    font-size: 25px;
  }

  .nav {
    .navigation_items {
      .header_logo {
        display: none;
      }
      a {
        display: none;
      }
      button {
        display: none;
      }
    }
  }
  .img_cover {
    display: none;
  }

  .header_text {
    display: none;
  }

  .toggle_button {
    display: flex;
  }

  .user_menu {
    display: none;
  }
  .header_container {
    .header_pic {
      height: 50%;
      width: 50%;
    }
    .btn_container .playdemo_btn {
      width: 150px;
    }
  }

  // Detail Page
  .btn_container {
    margin: 0 40px;
    .addtocartbtn_container .add_to_cart_btn_unauth {
      width: 100%;
      margin-left: 10px;
      font-size: 0.7em;
    }
    .addtocartbtn_container .add_to_cart_btn {
      width: 100%;
      margin-left: 10px;
      font-size: 0.7em;
    }
    .addtocartbtn_container .checkout_btn {
      width: 100% !important;
      margin-left: 10px;
      font-size: 0.7em;
      padding: 0 25px;
    }
    .addtocartbtn_container .cart_success_btn {
      width: 40% !important;
    }
  }

  .details_header {
    h1 {
      display: none;
    }
  }
  .details_badges p {
    display: none;
  }
}

@include mediaXsm {
  // Home
  .card_block_featured {
    .title {
      font-size: 2.1em;
    }
  }
  .mobile_featured_header {
    font-size: 1.5em;
  }
  // Cards
  .card_item_wrapper {
    margin-bottom: 10px;
    .image {
      width: 200px;
      height: 200px;
    }
    .card_playBtn {
      font-size: 7.2rem;
      margin-left: 40px;
      margin-top: 30px;
    }
    .card_pauseBtn {
      font-size: 7.2rem;
      margin-left: 40px;
      margin-top: 30px;
    }
  }

  // Register
  .form_card {
    width: 350px;
    .form_group {
      .register_inputs {
        width: 300px;
      }
      .register_label {
        margin-left: -100px;
      }
    }
  }

  // Footer

  footer .logo img {
    display: none;
  }
  footer {
    background: #000;
  }

  footer .contact_btn {
    top: 20px;
    width: 200px;
    left: 50px;
  }
  footer .connect_header {
    left: 100px;
    display: none;
  }
  footer .connect_facebook_icon a {
    top: 100px;
    left: 50px;
    font-size: 20px;
  }
  footer .connect_soundcloud_icon a {
    top: 93px;
    left: 100px;
    font-size: 30px;
  }
  footer .connect_twitter_icon a {
    top: 98px;
    left: 180px;
    font-size: 25px;
  }

  footer .copyright {
    left: 30px;
  }

  // Nav
  .MuiAppBar-positionFixed-15 {
    top: 0;
    left: 0;
    right: auto;
    position: fixed;
    max-width: 100%;
  }

  // Side Drawer
  .sideDrawer {
    ul {
      height: 80%;
      margin-top: 60px;
    }
    .login_btn {
      width: 80%;
    }
    .home_register_btn {
      width: 80%;
    }
  }
  .header_container {
    .header_pic {
      justify-self: start;
    }
  }

  // Detail
  .page_top .container {
    max-width: 80%;
    left: 50px;
  }
}

@include mediaXXsm {
  .mobile_featured_header {
    font-size: 1em;
  }
}
