.header_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 15px;
  background-color: #000;
  color: #fff;
  .details_header {
    text-align: center;
    font-family: 'Cinzel', 'serif';
  }
  .details_badges {
    display: flex;
    justify-content: space-evenly;
    p {
      margin: 0;
      span {
        color: $sparta-yellow;
      }
    }
  }
  .btn_container {
    display: flex;
    justify-content: space-evenly;
    .playdemo_btn {
      @include easeOut;
      display: flex;
      width: 270px;
      height: 50px;
      background-color: $sparta-blue;
      border: 1px solid $secondary-dark;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: lighten($sparta-orange, 2);
        box-shadow: 0 0 20px $secondary-dark;
      }
      &:active {
        box-shadow: inset 0 0 30px $secondary-dark;
      }
      span {
        margin-right: 5px;
        font-size: 1.7rem;
      }
    }
    .add_to_cart_btn {
      @include easeOut;
      width: 270px;
      height: 50px;
      border: 1px solid $sparta-red;
      &:hover {
        background-color: rgba($sparta-red, 0.5);
      }
    }
    .add_to_cart_btn_unauth {
      width: 270px;
      height: 50px;
      border: 1px solid $secondary-dark;
    }
  }
}

.description_container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  color: #fff;
 
  .desc_content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    p {
      font-size: 1.2rem;
      span {
        color: $sparta-yellow;
      }
    }
    
    ul {
      
      li {
        margin-top: 15px;
        color: $sparta-orange;
        font-size: 1.7rem;
       
        span {
          color: #fff;
          font-size: 1.3rem;
          
        }
      }
    }
    
  }
  .desc_gutter {
    background-color: lighten($primary-dark, 3);
  }
}

.product_404 {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 25px;
  height: 100vh;
 .errorbox {
   height: 250px;
   width: 550px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Cinzel', 'serif';
   font-size: 3.5rem;
   border: 1px solid $secondary-dark;
   border-radius: 15px;
   background-color: rgba($sparta-red, 0.4);
 }
}
