// Register
.form_container {
    display: flex;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
  }
  .form_card {
    height: 700px;
    width: 550px;
    background-color: rgba(78, 78, 80, 0.3);
    border: 2px solid $secondary-dark;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    z-index: 999;
    h2 {
      color: #fff;
      font-weight: 300;
      margin: 20px;
    }
    .form_group {
      display: flex;
      justify-content: center;
      padding: 25px 0px;
      width: 100%;
  
      .register_inputs {
        width: 450px;
      }
      .register_label {
        position: absolute;
        margin-top: -25px;
        margin-left: -170px;
        color: lighten($secondary-dark, 15);
      }
    }
  }
  
  form .bottom_register_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .register_user_btn {
      width: 80%;
      color: #fff;
      border-color: $sparta-orange;
      border-radius: 30px;
      text-transform: capitalize;
      &:hover {
        background-color: lighten($sparta-orange, 3);
      }
    }
  }
  
  .error_label_register {
    position: absolute;
    color: $sparta-red;
  }