.shop_wrapper {
  display: flex;
  min-height: 800px;
  color: #fff;
}

.shop_wrapper .left {
  flex-grow: 1.0;
  max-width: 400px;
  margin-left: 70px;
}

.collapse_items_wrapper {
  width: 400px;
  .collapse_list {
    border-bottom: 2px solid $secondary-dark;
  }
 .collapse_title {
     font-size: 2.3rem;
 }
}

.shop_wrapper .right {
  margin-left: 20px;
}
