.toggle_button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 25px;
  width: 37px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  .toggle_button_line {
    width: 30px;
    height: 2px;
    background: #fff;
  }
  display: none;
}

.sideDrawer {
  @include easeOut;
  height: 100%;
  position: fixed;
  background: $primary-dark;
  box-shadow: 2px 0px 5px rgba($sparta-orange, 0.6);
  width: 70%;
  max-width: 800px;
  z-index: 99999;
  top: 0;
  left: 0;
  transform: translateX(-150%);

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
  }

  li {
    margin: 15px 0;
  }

  a {
    color: $sparta-orange;
    text-decoration: none;
    font-size: 1.8rem;
  }
}

.sideDrawer.open {
  transform: translateX(0);
}
