.login_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin-top: 40px;
  margin-left: -30px;
  border-radius: 50%;
  border: 7px outset $secondary-dark;
  border-top-color: $sparta-red;
  animation: spinner 1s linear infinite;
}

.register_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;
  margin-top: 230px;
  margin-left: -60px;
  border-radius: 50%;
  border: 7px outset $secondary-dark;
  border-top-color: $sparta-red;
  animation: spinner 1s linear infinite;
}

.auth_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  height: 160px;
  width: 160px;
  margin-top: -230px;
  margin-left: -60px;
  border-radius: 50%;
  border: 11px solid $secondary-dark;
  border-top-color: $sparta-red;
  animation: spinner 1s linear infinite;
}

.cart_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  height: 160px;
  width: 160px;
  margin-top: -30px;
  margin-left: 110px;
  border-radius: 50%;
  border: 11px solid $secondary-dark;
  border-top-color: $sparta-red;
  animation: spinner 1s linear infinite;
}

.file_upload_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin-top: -190px;
  margin-left: -72px;
  border-radius: 50%;
  border: 8px inset $sparta-orange;
  border-top-color: $sparta-red;
  animation: spinner 1s linear infinite;
}

.modal_cart_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-top: -40px;
  margin-left: -50px;
  border-radius: 50%;
  border: 12px inset $sparta-orange;
  border-top-color: $sparta-red;
  animation: spinner 1s linear infinite;
}

.detail_page_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  height: 160px;
  width: 160px;
  margin-top: -280px;
  margin-left: -60px;
  border-radius: 50%;
  border: 11px solid $secondary-dark;
  border-top-color: $sparta-red;
  animation: spinner 1s linear infinite;
}

.musicplayer_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: 99999;
  top: 10%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-bottom: 250px;
  border-radius: 50%;
  border-top: 2px solid $sparta-red;
  border-right: 2px solid transparent;

  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
