// Buttons
.load_more_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
  span {
    @include easeOut;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    font-family: "Cinzel", "serif";
    letter-spacing: 1.2px;
    cursor: pointer;
    padding: 12px;
    height: 50px;
    width: 350px;
    background-color: darken($sparta-orange, 7);

    &:hover {
      background-color: lighten($sparta-orange, 2);
      box-shadow: 0 0 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }
}

.flat_btn_container {
  display: flex;
  width: 370px;
  .flat_btn {
    @include easeOut;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2px;
    width: 100%;
    padding: 10px;
    margin: 7px;
    margin-right: 0;
    font-family: "Cinzel", "serif";
    background: $sparta-red;
    color: #fff;
    &:hover {
      background-color: lighten($sparta-red, 7);
      box-shadow: 0 0px 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }
}

.view_details_btn_container {
  display: flex;
  width: 100%;
  .view_details_btn {
    @include easeOut;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2px;
    width: 80%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-right: 0;
    font-family: "Cinzel", "serif";
    background-color: darken($sparta-orange, 10);
    &:hover {
      background-color: lighten($sparta-orange, 2);
      box-shadow: 0 0px 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }
  .shopping_cart_btn_auth {
    @include easeOut;
    width: 20%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-left: 0;
    background-color: darken($sparta-orange, 15);
    cursor: pointer;
    &:hover {
      background-color: darken($sparta-orange, 2);
      box-shadow: 0 0 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }

  .shopping_cart_btn_added {
    @include easeOut;
    width: 20%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-left: 0;
    background-color: $success-green;
    cursor: pointer;
    &:hover {
      background-color: lighten($success-green, 2);
      box-shadow: 0 0 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }

  .shopping_cart_btn_addstate {
    @include easeOut;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin: 7px;
    margin-left: 0;
    background-color: $success-green;
    box-shadow: 0 0 20px $secondary-dark;
    cursor: pointer;
    .cart_checkmark {
      font-size: 2.3rem;
    }
  }

  .shopping_cart_btn_nonauth {
    width: 20%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-left: 0;
    background-color: rgba($secondary-dark, 0.5);
    cursor: pointer;
    color: $secondary-dark;
  }
}

.addtocartbtn_container {
  display: flex;
  .add_to_cart_btn {
    @include easeOut;
    .cart_icon {
      color: #fff;
    }
  }
  .add_to_cart_btn_unauth {
    color: $secondary-dark !important;
    .cart_icon {
      color: $secondary-dark;
    }
  }
  .cart_success_btn {
    @include easeOut;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 270px;
    height: 50px;
    background-color: $success-green;
    transform: translateX(870px);

    svg {
      font-size: 3.2rem;
    }
  }
  .checkout_btn {
    svg {
      margin-right: 10px;
    }
  }
}

.checkout_btn {
  @include easeOut;
  height: 70px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $success-green;
  font-family: "Cinzel", "serif";
  cursor: pointer;
  &:hover {
    background-color: darken($success-green, 2);
    box-shadow: 0 0 30px $success-green;
  }
  &:active {
    box-shadow: inset 0 0 30px $secondary-dark;
  }
}

.next_btn_container {
  height: 115px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .next_btn {
    margin-right: 15px;
    &:hover {
      h1 {
        color: $sparta-yellow;
      }
      .arrow_forward {
        color: $sparta-yellow;
      }
    }
  }
  h1 {
    @include easeOut;
    cursor: pointer;
    font-family: "Cinzel", "serif";
    display: inline-block;
    margin: 0;
    margin-top: 7px;
    position: absolute;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    margin-right: 45px;
  }
  .arrow_forward {
    @include easeOut;
    cursor: pointer;
    font-size: 45px;

    bottom: 60px;
    margin-left: 70px;
    color: #fff;
  }
}

.back_btn_container {
  margin-top: 75px;
  margin-left: 10px;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  .back_btn {
    z-index: 999;
    &:hover {
      h1 {
        color: $sparta-yellow;
      }
      .arrow_back {
        color: $sparta-yellow;
      }
    }
  }
  h1 {
    @include easeOut;
    cursor: pointer;
    font-family: "Cinzel", "serif";
    position: absolute;
    margin: 0;
    margin-top: 10px;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    margin-left: 40px;
  }
  .arrow_back {
    @include easeOut;
    cursor: pointer;
    font-size: 45px;

    bottom: 35px;
    margin-right: 60px;

    color: #fff;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($primary-dark, 0.7);
  z-index: 10000;
}
