// Buttons
.load_more_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 5px;
  span {
    @include easeOut;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    font-family: "Cinzel", "serif";
    letter-spacing: 1.2px;
    cursor: pointer;
    padding: 12px;
    height: 50px;
    width: 350px;
    background-color: darken($sparta-orange, 7);

    &:hover {
      background-color: lighten($sparta-orange, 2);
      box-shadow: 0 0 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }
}
.view_details_btn_container {
  display: flex;
  width: 100%;
  .view_details_btn {
    @include easeOut;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2px;
    width: 80%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-right: 0;
    font-family: "Cinzel", "serif";
    background-color: darken($sparta-orange, 10);
    &:hover {
      background-color: lighten($sparta-orange, 2);
      box-shadow: 0 0px 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }
  .shopping_cart_btn_auth {
    @include easeOut;
    width: 20%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-left: 0;
    background-color: darken($sparta-orange, 15);
    cursor: pointer;
    &:hover {
      background-color: darken($sparta-orange, 2);
      box-shadow: 0 0 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }

  .shopping_cart_btn_added {
    @include easeOut;
    width: 20%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-left: 0;
    background-color: $success-green;
    cursor: pointer;
    &:hover {
      background-color: lighten($success-green, 2);
      box-shadow: 0 0 20px $secondary-dark;
    }
    &:active {
      box-shadow: inset 0 0 30px $secondary-dark;
    }
  }

  .shopping_cart_btn_addstate {
    @include easeOut;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin: 7px;
    margin-left: 0;
    background-color: $success-green;
    box-shadow: 0 0 20px $secondary-dark;
    cursor: pointer;
    .cart_checkmark {
      font-size: 2.3rem;
    }
  }

  .shopping_cart_btn_nonauth {
    width: 20%;
    height: 30px;
    padding: 12px;
    margin: 7px;
    margin-left: 0;
    background-color: rgba($secondary-dark, 0.5);
    cursor: pointer;
    color: $secondary-dark;
  }
}

.addtocartbtn_container {
  display: flex;
  .add_to_cart_btn {
    @include easeOut;
    .cart_icon {
      color: #fff;
    }
  }
  .add_to_cart_btn_unauth {
    color: $secondary-dark !important;
    .cart_icon {
      color: $secondary-dark;
    }
  }
  .cart_success_btn {
    @include easeOut;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 270px;
    height: 50px;
    background-color: $success-green;
    transform: translateX(870px);

    svg {
      font-size: 3.2rem;
    }
  }
  .checkout_btn {
    svg {
      margin-right: 10px;
    }
  }
}

.checkout_btn {
  @include easeOut;
  height: 70px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $success-green;
  font-family: 'Cinzel', 'serif';
  cursor: pointer;
  &:hover {
    background-color: darken($success-green, 2);
    box-shadow: 0 0 50px $success-green;
  }
  &:active {
    box-shadow: inset 0 0 30px $secondary-dark;
  }
}


.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($primary-dark, 0.7);
  z-index: 10000;
}