// User Dashboard
.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 900px;
  .user_left_nav {
    font-family: "Cinzel", serif;
    position: absolute;
    height: 1000px;
    width: 440px;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: $secondary-dark;
    border-right: 1px solid $sparta-orange;
    margin-top: 70px;
    padding-top: 20px;
    overflow: hidden;

    h2 {
      font-family: "Mukta", serif;
      margin-bottom: 5px;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
    }
 
    a {
      display: block;
      text-align: center;
      font-size: 25px;
      font-weight: 300;
      color: #fff;
      padding: 5px 10px 5px 7px;
      padding: 10px 0;
    }
    hr {
      border-color: lighten($sparta-orange, 10);
    }
  }
  .user_right {
    flex-grow: 1;
    padding: 0 0 0 29px;
  }
}

// User Dashboard - Info
.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.user_info_panel {
  height: 300px;
  width: 650px;
  margin: 10px 0px;
  background-color: rgba(78, 78, 80, 0.4);
  border: 1px solid $sparta-orange;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  color: #fff;
  z-index: 1;
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  span {
    display: block;
    margin-left: 20px;
  }
  .user_info_textContent {
    font-family: "Cinzel", "serif";
    color: $sparta-yellow;
  }
  .user_info_btn {
    @include quickOut;
    margin: 15px;
    width: 95%;
    background-color: $secondary-dark;
    color: #fff;
    font-weight: 300;
    align-self: center;
    &:hover {
      background-color: $sparta-blue;
      font-weight: 300;
      color: #fff;
    }
  }
}

.user_product_block_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;
  border: 1px solid $sparta-yellow;
}

// User - Admin - Add Product

.add_product_card {
  height: 740px;
  overflow: hidden;
  margin-left: 200px;
  margin-bottom: 50px;
  h2 {
    color: $sparta-yellow;
    font-weight: 300;
    margin: 25px;
  }
  .form_group {
    .add_product_inputs {
      width: 450px;
      input {
        @include quickOut;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 0 0 2pt $secondary-dark;
        border: none;
        font-size: 15px;
        padding: 10px 10px;
        border-radius: 30px;
        width: 100%;
      }
      input:focus {
        box-shadow: 0 0 0 1.5pt $sparta-orange;
        outline: none;
      }
      textarea {
        @include quickOut;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 0 0 2pt $secondary-dark;
        border: none;
        font-size: 15px;
        padding: 10px 10px;
        height: 100px;
        border-radius: 5px;
        width: 100%;
      }

      textarea:focus {
        box-shadow: 0 0 0 1.5pt $sparta-orange;
        outline: none;
      }
      #price, #sampleLength {
        width: 50%;
      }
      
    }
    
    .add_product_label {
      position: absolute;

      margin-top: -25px;
      margin-left: -180px;
      color: lighten($secondary-dark, 15);
    }
    .add_product_select {
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
      height: 33px;
      
      width: 240px;
      
    }
    .add_product_select select {
      background: transparent;
      border: none;
      outline: none;
      font-size: 14px;
      height: 29px;
      padding: 5px; /* If you add too much padding here, the options won't show in IE */
      width: 568px;
    }
    .add_product_select.slate {
      background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
      border: 1px solid $secondary-dark;
      height: 34px;
      width: 450px;
      -webkit-border-radius: 35px;
   -moz-border-radius: 35px;
   border-radius: 35px;
      select {
        color: #fff;
        
      }
    }
    .add_product_error {
      @include easeOut;
    position: absolute;
    margin-left: 50px;
    margin-top: 5px;
    color: $sparta-red;
    }
    .add_product_error_desc {
      @include easeOut;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 13px;
    color: $sparta-red;
    }
  }
  .price_input {
    position: relative;
    input {
      padding-left: 35px !important;
    }
  }
  .price_input:before {
    position: absolute;
    text-align: center;
    left: -1px;
    top: 0px;
    width: 30px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border: 1px solid rgba($sparta-orange, 0.2);
    height: 100%;
    font-size: 1.3rem;
    background-color: rgba($sparta-blue, 0.7);
    color: $sparta-yellow;
    font-family: "Cinzel", "serif";
    content: "$";
  }
  .next_btn_container {
    height: 115px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .next_btn {
      margin-right: 15px;
      &:hover {
        h1 {
          color: $sparta-yellow;
        }
        .arrow_forward {
          color: $sparta-yellow;
        }
      }
    }
    h1 {
      @include easeOut;
      cursor: pointer;
      font-family: "Cinzel", "serif";
      display: inline-block;
      margin: 0;
      margin-top: 7px;
      position: absolute;
      font-weight: 800;
      font-size: 30px;
      color: #fff;
      margin-right: 45px;
    }
    .arrow_forward {
      @include easeOut;
      cursor: pointer;
      font-size: 45px;
      
      bottom: 60px;
      margin-left: 70px;
      color: #fff;
    }
  }
  .back_btn_container {
    margin-top: 75px;
    margin-left: 10px;
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    .back_btn {
      z-index: 999;
      &:hover {
        h1 {
          color: $sparta-yellow;
        }
        .arrow_back {
          color: $sparta-yellow;
        }
      }
    }
    h1 {
      @include easeOut;
      cursor: pointer;
      font-family: "Cinzel", "serif";
      position: absolute;
      margin: 0;
      margin-top: 10px;
      font-weight: 800;
      font-size: 30px;
      color: #fff;
      margin-left: 40px;
    }
    .arrow_back {
      @include easeOut;
      cursor: pointer;
      font-size: 45px;
     
      bottom: 35px;
      margin-right: 60px;
      
      color: #fff;
    }
  }
  .addproduct_btn_container {
    display: flex;
    justify-content: center;
    width: 550px;
    height: 50px;
    
    .add_product_btn {
      margin-top: 38px;
      width: 300px;
      margin-left: 60px;
      bottom: 100px;
      background-color: $sparta-red !important;
    }
  }
}
