@import "config";
@import "body";
@import "header";
@import "home";
@import "login";
@import "register";
@import "user";
@import "beatstore";
@import "card";
@import "musicplayer";
@import "shop";
@import "spinner";
@import "fileupload";
@import "footer";

// Universal Classes
.bck_dark {
  background: $primary-dark;
}

.bck_ultra_dark {
  background: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0;
}

.main_loader {
  text-align: center;
  margin-top: 100px;
}

.page_top {
  display: flex;
  align-items: flex-end;
  height: 60px;
  background-color: $sparta-blue;
  border-bottom: 1px solid $secondary-dark;
  margin-top: 50px;
  padding: 20px;
  .container {
    position: absolute;
    font-size: 1.7rem;
    color: #fff;
    top: 100px;
    left: 70px;
  }
}

@import "mobile";
