@import 'body';
@import 'config';

// Universal Classes
.bck_dark {
  background: $primary-dark;
}

.bck_ultra_dark {
  background: #000;
  color: #fff;
}


// Header
.header_text {
  @include easeOut;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  font-weight: 100;
  display: 'inline';
  position: relative;
  left: 75px;
  bottom: 43px;
  letter-spacing: 0.3px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.header_second {
  @include easeOut;
  font-family: 'Mukta', serif;
  font-size: 15px;
  font-weight: 700;
  display: 'inline';
  position: relative;
  left: 318px;
  bottom: 67px;
 
}

.header_logo {
  max-height: 70px;
}

.img_cover {
  background-size: cover !important;
}

.link_logo {
  display: inline-block;
}

.nav .nav_link {
  transition: all 0.2s ease-out;
  &:hover {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}


// Featured
.featured_wrapper {
  margin: 0 auto;
  width: 1280px; 
  height: 100vh;
  overflow: hidden;
}

.featured_stripes {
  position: relative
}
.featured_text {
  position: relative;
  font-family: 'Cinzel', cursive;
}


.featured_stripes .stripe {
  width: 230px;
  height: 1200px;
  position: absolute;
  
}

.featured_number {
  font-size: 270px;
  color: #ffffff;
  transform: translate(260px,170px);
  position: absolute;
}

.featured_kit {
  width: 500px;
  height: 500px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
 
}
.featured_button {
  position: absolute;
  padding: 0px 20px;
  
}
.featured_first {
  position: absolute;
  background: $primary-dark;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
 
}

.featured_second {
  position: absolute;
  background: $primary-dark;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
  
}

.landing_btn {
  @include easeOut;
  &:hover {
    background-color: darken($sparta-blue, 5) !important;
  }
}


// Footer
footer .container {
  display: flex;
  flex-direction: column;
}

footer .logo {

  align-self: center;
  max-width: 50%;
}

footer .connect_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

footer .connect_header {
  @include easeOut;
  position: absolute;
  top: 27px;
  left: 320px; 
}

footer .connect_facebook_icon a {
  position: absolute;
  color: #fff;
  top: 90px;
  left: 300px; 
  font-size: 40px;
  @include easeOut;
  &:hover {
    color: #334f8d;
  }
  
}
footer .connect_soundcloud_icon a {
  position: absolute;
  color: #fff;
  top: 83px;
  left: 370px; 
  font-size: 50px;
  @include easeOut;
  &:hover {
    color: #ff5805;
  }
}
footer .connect_twitter_icon a {
  @include easeOut;
  position: absolute;
  color: #fff;
  top: 88px;
  left: 470px; 
  font-size: 45px;
  &:hover {
    color: #1a97f0;
  }
}

footer .contact_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%
}

footer .contact_btn {
  @include easeOut;
  position: absolute;
  width: 450px;
  top: 82px;
  left: 1190px;
  &:hover {
    background-color: lighten($sparta-red, 5) !important;
  }
}


@import 'mobile';

