@import "body";
@import "config";

// Universal Classes
.bck_dark {
  background: $primary-dark;
}

.bck_ultra_dark {
  background: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0;
}

.main_loader {
  text-align: center;
  margin-top: 100px;
}
// Header
.header_text {
  @include easeOut;
  font-family: "Cinzel", serif;
  font-size: 30px;
  font-weight: 100;
  display: "inline";
  position: relative;
  left: 75px;
  bottom: 43px;
  letter-spacing: 0.3px;
}

.header_second {
  @include easeOut;
  font-family: "Cinzel", serif;
  font-size: 15px;
  font-weight: 100;
  display: "inline";
  position: relative;
  left: 338px;
  bottom: 67px;
}

.header_logo {
  max-height: 70px;
}

.img_cover {
  background-size: cover !important;
}

.link_logo {
  display: inline-block;
}

.home_register_btn {
  margin-right: 20px;
  button {
    @include easeOut;
    background-color: $sparta-red;
    font-family: "Cinzel", "serif";
    padding: 10px;
    color: #fff;
    width: 120px;
    &:hover {
      background-color: darken($sparta-red, 5);
    }
  }
}

.nav a button {
  transition: all 0.2s ease-out;
  color: rgba(255, 255, 255, 0.8) !important;
  &:hover {
    color: rgba(255, 255, 255, 1) !important;
  }
}

.nav .login_btn {
  @include easeOut;
  font-family: "Cinzel", "serif";
  border-color: $sparta-red;
  width: 100px;
  &:hover {
    background-color: darken($sparta-red, 5);
  }
}

// Header -Popover menu
.user_menu {
  .popover {
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 10px 7px;
    display: none;
    margin-top: 15px;
    border: 0.5px solid $secondary-dark;
    animation: fade-in 0.3s linear 1, popover-move-left 0.3s linear 1;
    border-radius: 5px;
    right: 26px;
    z-index: 100;
    &:after {
      content: "";
      width: 0px;
      height: 0px;
      border-top: 10px solid rgba($secondary-dark, 0.85);
      border-left: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid transparent;
      transform: rotate(180deg);
      position: absolute;
      top: -9.6%;
      left: 79%;
    }
    .menu {
      margin-left: 5px;
      .cart_link {
        position: absolute;
        overflow: hidden;
        margin-top: 6px;
        left: 99px;
        height: 25px;
        width: 25px;
        background: $sparta-red;
        border-radius: 50%;
        span {
          position: absolute;
          bottom: -3px;
          margin-left: 7px;
          font-size: 18px;
        }
      }
    }
  }
  &:hover {
    .popover {
      display: block;
    }
  }
}

// Home

// Home - Featured
.featured_wrapper {
  margin: 0 auto;
  width: 1280px;
  height: 100vh;
  overflow: hidden;
}

.featured_stripes {
  position: relative;
}
.featured_text {
  position: relative;
  font-family: "Cinzel", cursive;
}

.featured_stripes .stripe {
  width: 230px;
  height: 1200px;
  position: absolute;
}

.featured_number {
  font-size: 270px;
  color: #ffffff;
  transform: translate(260px, 170px);
  position: absolute;
}

.featured_kit {
  width: 500px;
  height: 500px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
}
.featured_button {
  position: absolute;
  padding: 0px 20px;
}
.featured_first {
  position: absolute;
  background: $primary-dark;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
}

.featured_second {
  position: absolute;
  background: $primary-dark;
  color: #ffffff;
  font-size: 92px;
  text-transform: uppercase;
  padding: 0px 20px;
}

.landing_btn {
  @include easeOut;
  &:hover {
    background-color: darken($sparta-blue, 5) !important;
  }
}

// Home -Sample Modal
.sample_modal_title {
  @include easeOut;
  border: 5px dotted rgba($sparta-orange, 0.8);
  text-align: center;
  text-shadow: 2px 1px $sparta-blue;
  font-size: 40px;
  text-transform: uppercase;
  &:hover {
    border: 5px dotted rgba($sparta-orange, 1);
  }
}

.send_sample_form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 10px;
  margin-left: 38px;
  height: 150px;
  width: 500px;
  
  input {
    font-size: 1.5rem;
    color: $sparta-orange;
    font-weight: 600;
    width: 550px;
    padding: 15px;
    &:focus {
      box-shadow: 0 0 0 3pt $sparta-orange;
      font-weight: 700;
    }
  }
  
}

// Log In
.login_header {
  text-align: center;
  padding-bottom: 0px !important;
  font-size: 40px;
}
hr {
  width: 80%;
  border-color: $secondary-dark;
}
.login_label {
  margin-left: 120px;
  margin-top: 10px;
  color: $secondary-dark;
  font-weight: 900;
}
input {
  @include quickOut;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 0 2pt $secondary-dark;
  border: none;
  font-size: 15px;
  padding: 10px 10px;
  border-radius: 30px;
  width: 70%;
}

input:focus {
  box-shadow: 0 0 0 1.5pt $sparta-orange;
  outline: none;
}
.form_field_block {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

form hr {
  margin-top: 50px;
  width: 70%;
}

.error_label {
  position: absolute;
  margin-top: 40px;
  color: $sparta-red;
}

.error_label_bottom {
  display: flex;
  justify-content: center;
  p {
    color: $sparta-red;
    font-size: 1.6rem;
    font-family: "Cinzel", cursive;
  }
}

form .bottom_login_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .login_user_btn {
    width: 60%;
    background-color: $sparta-orange;
    color: #fff;
    border-radius: 30px;
    text-transform: capitalize;
    &:hover {
      background-color: lighten($sparta-orange, 3);
    }
  }
}

form p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  span {
    margin: 0px 7px;

    color: darken($sparta-orange, 1);
    cursor: pointer;
  }
}

.closeIcon {
  @include quickOut;
  position: absolute;
  right: 9px;
  top: 5px;
  cursor: pointer;
  font-size: 1.8rem;
  color: $secondary-dark;
  &:hover {
    color: $sparta-red;
  }
}

// Register
.form_container {
  display: flex;
  margin-top: 130px;
  justify-content: center;
  align-items: center;
}
.form_card {
  height: 700px;
  width: 550px;
  background-color: rgba(78, 78, 80, 0.3);
  border: 2px solid $secondary-dark;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  z-index: 999;
  h2 {
    color: #fff;
    font-weight: 300;
    margin: 20px;
  }
  .form_group {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    width: 100%;

    .register_inputs {
      width: 450px;
    }
    .register_label {
      // position: absolute;
      // bottom: 665px;
      // right: 880px;
      position: absolute;
      margin-top: -25px;
      margin-left: -170px;
      color: lighten($secondary-dark, 15);
    }
  }
}

form .bottom_register_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .register_user_btn {
    width: 80%;
    color: #fff;
    border-color: $sparta-orange;
    border-radius: 30px;
    text-transform: capitalize;
    &:hover {
      background-color: lighten($sparta-orange, 3);
    }
  }
}

.error_label_register {
  position: absolute;
  color: $sparta-red;
}

// User Dashboard
.user_container {
  display: flex;
  margin-bottom: 50px;
  min-height: 900px;
  .user_left_nav {
    font-family: "Cinzel", serif;
    position: absolute;
    height: 1000px;
    width: 440px;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: $secondary-dark;
    border-right: 1px solid $sparta-orange;
    margin-top: 70px;
    padding-top: 20px;
    overflow: hidden;

    h2 {
      font-family: "Mukta", serif;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 700;
    }

    a {
      display: block;
      text-align: center;
      font-size: 25px;
      font-weight: 300;
      color: #fff;
      padding: 5px 10px 5px 7px;
      padding: 10px 0;
    }
    hr {
      border-color: lighten($sparta-orange, 10);
    }
  }
  .user_right {
    flex-grow: 1;
    padding: 0 0 0 29px;
  }
}

// User Dashboard - Info
.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.user_info_panel {
  height: 300px;
  width: 650px;
  margin: 10px 0px;
  background-color: rgba(78, 78, 80, 0.4);
  border: 1px solid $sparta-orange;
  border-radius: 8px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
  color: #fff;
  z-index: 1;
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  span {
    display: block;
    margin-left: 20px;
  }
  .user_info_textContent {
    font-family: "Cinzel", "serif";
    color: $sparta-yellow;
  }
  .user_info_btn {
    @include quickOut;
    margin: 15px;
    width: 95%;
    background-color: $secondary-dark;
    color: #fff;
    font-weight: 300;
    align-self: center;
    &:hover {
      background-color: $sparta-blue;
      font-weight: 300;
      color: #fff;
    }
  }
}

.user_product_block_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;
  border: 1px solid $sparta-yellow;
}

// Footer

footer {
  position: relative;
  width: 100% !important;
  z-index: 99999;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .logo {
  align-self: center;
  max-width: 50%;
}

footer .connect_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

footer .connect_header {
  @include easeOut;
  position: absolute;
  top: 17px;
  left: 360px;
}

footer .connect_facebook_icon a {
  position: absolute;
  color: #fff;
  top: 80px;
  left: 300px;
  font-size: 40px;
  @include easeOut;
  &:hover {
    color: #334f8d;
  }
}
footer .connect_soundcloud_icon a {
  position: absolute;
  color: #fff;
  top: 73px;
  left: 370px;
  font-size: 50px;
  @include easeOut;
  &:hover {
    color: #ff5805;
  }
}
footer .connect_twitter_icon a {
  @include easeOut;
  position: absolute;
  color: #fff;
  top: 78px;
  left: 470px;
  font-size: 45px;
  &:hover {
    color: #1a97f0;
  }
}

footer .contact_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}

footer .contact_btn {
  @include easeOut;
  position: absolute;
  border-color: $sparta-red;
  color: #fff;
  width: 450px;
  top: 82px;
  left: 1190px;
  &:hover {
    background-color: lighten($sparta-red, 5) !important;
  }
}

footer .copyright_wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 150px;
}

footer .copyright {
  @include easeOut;
  position: absolute;
  font-weight: 300;
  top: 160px;
  left: 340px;
}

@import "mobile";
